/* Add the following to App.css */

@keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .hidden {
    opacity: 0;
    transform: translateX(-100%);
  }
  *{

    font-family: Arial, Helvetica, sans-serif;
  }
  .link-head{
    color: white;
  
  }
  .link-head:hover{
    color: rgb(197, 197, 202);
    transition: 0.5s;
  }
  .link-head-mobile{
    color: rgb(0, 0, 0);
  
  }
  .link-head-mobile:hover{
    color: rgb(32, 32, 32);
    transition: 0.5s;
  }