/* Add the following to App.css */

@keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .hidden {
    opacity: 0;
    transform: translateX(-100%);
  }
  /* *{
    margin:0;
    padding: 0;
  } */